/*------------------------------------------------------------------
Project:    	HandyMan
Author:     	P. Roy
URL:        	http://www.handyman.proy.info/            
Version:    	1.0
Last change:    March, 2015
-------------------------------------------------------------------*/

/* Common Style ------------------- */
body {
    width: 100%;
    height: 100%;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.5px;
}
p {
    margin: 0 0 15px;
    line-height: 1.5;
}
a {
    color: #eb5e54;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:focus,
a:hover {
    text-decoration: none;
    color: #eb5c75;
    outline: 0 !important;
}
.address i {
    margin-right: 5px;
}
blockquote {
    min-height: 107px;
    border-left: 5px solid #eee;
    font-size: 17.5px;
    margin: 20px 0 20px;
    padding: 10px 20px;
}
.text-shadow {
    text-shadow: 1px 1px 2px #b0b0b0;
}
::-moz-selection,
::selection {
    text-shadow: none;
    background: #2781e7;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

.content-section {
    padding-top: 80px;
}
.my_mobile {
    display: none;
}
@media (min-width: 767px) {
    .content-section {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

.common-text-color {
    color: #ea5d56;
}

.common-bg-color {
    background-color: #ea5d56;
}

.title {
    margin-bottom: 10px;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, .18);*/
    text-transform: uppercase;
    letter-spacing: -0.5px;
}
.backstretch-carousel {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
}

/* Preloader -------------------- */
.preloader,
.preloader > .spinner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.preloader {
    position: fixed;
    background-color: #151515;
    z-index: 9999999;
}
.preloader > .spinner {
    position: absolute;
    width: 100%;
    height: 15px;
    margin: auto;
    text-align: center;
}
.preloader > .spinner > span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: gray;
    -webkit-animation: spinner-color 1.2s infinite ease-in-out;
    -o-animation: spinner-color 1.2s infinite ease-in-out;
    animation: spinner-color 1.2s infinite ease-in-out;
}
.preloader > .spinner > span:first-child {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.preloader > .spinner > span:last-child {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes spinner-color {
    0% {
        background: #555;
    }
    40% {
        background: #fff;
    }
    100%,
    80% {
        background: #555;
    }
}
@keyframes spinner-color {
    0% {
        background: #555;
    }
    40% {
        background: #fff;
    }
    100%,
    80% {
        background: #555;
    }
}

/* Parallax -------------------- */
section .parallax {
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Top Navigation ------------------- */
.navbar-toggle {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #ccc;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 9px;
    margin-right: 10px;
}
a.navbar-brand {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    line-height: 0;
    text-transform: uppercase;
    float: left;
    height: 50px;
    padding: 0;
    transition: all 0.4s ease 0s;
}
.top-nav-collapse a.navbar-brand {
    padding: 6px 0 0;
}
a.navbar-brand .light {
    font-weight: 400;
    color: #eb5e54;
}
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    background-color: #ffffff;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:active,
.navbar-custom .navbar-brand .navbar-toggle:focus {
    outline: 0;
}
.navbar-custom ul.nav a {
    color: #a8a8a8;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar-nav > li > a {
    padding: 15px 8px;
}
.navbar-custom ul.nav li + li {
    margin-left: 0;
    padding-left: 5px;
}
.navbar-custom ul.nav li:first-child,
.navbar-custom ul.nav li:nth-child(2) {
    background: 0 0;
}
.navbar-custom .nav li.active {
    outline: nonte;
    background-color: transparent;
}
.navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active a {
    outline: 0;
    background: 0 0;
    color: #eb5e54;
}
.navbar-custom .nav li a:hover {
    outline: 0;
    background: 0 0;
    color: white;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 375px;
}
.phone_body {
    margin-top: -80px;
}
.phone_body a {
    color: #ffffff;
    font-size: 40px;
    vertical-align: top;
    line-height: 33px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.phone_body a:hover {
    color: #eb5e54;
}
.phone_body a:hover i {
    color: #eb5e54;
}
.friction {
    font-size: 40px;
}

@media (min-width: 767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 0px;
        background: 0 0;
        -webkit-transition: background 0.5s ease-in-out,
            padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 10px 0;
        background-color: rgb(255 255 255 / 97%);
        border-bottom: 1px solid transparent;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    }
    .top-nav-collapse a.navbar-brand {
        color: #2f2f2f;
        text-shadow: 1px 1px 2px #b0b0b0;
    }
    .top-nav-collapse a.navbar-brand .light {
        color: #eb5e54;
    }
    .top-nav-collapse .nav li a {
        color: #a8a8a8;
    }
    .top-nav-collapse .nav li a:hover {
        color: #5e5f5f;
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid transparent;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    a.navbar-brand {
        /*padding: 12px 0 0;*/
        font-size: 25px;
        transition: all 0.2s ease-in-out;
    }
    .navbar-custom ul.nav li + li {
        background: 0 0;
        margin-left: 0;
        padding-left: 0;
    }
    .navbar-custom ul.nav a {
        font-size: 14px;
    }
    .navbar-nav > li > a {
        padding: 15px 5px;
    }
}

@media (max-width: 767px) {
    section .parallax {
        background-attachment: scroll !important;
    }

    .navbar-collapse {
        border-top: 0;
        box-shadow: 0;
    }
    .navbar-custom.top-nav-collapse a.navbar-brand .black_logo {
        opacity: 0 !important;
    }
    .navbar-custom.top-nav-collapse a.navbar-brand .white_logo {
        opacity: 1 !important;
    }
    .top-nav-collapse a.navbar-brand {
        padding: 8px 0 4px 15px;
    }
    .top-nav-collapse {
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.4);
    }
    a.navbar-brand {
        padding-left: 15px;
        padding-top: 8px;
    }
    .navbar-custom .navbar-collapse ul.nav li + li {
        background: 0 0;
        margin-left: 0;
        padding-left: 0;
    }
    .navbar-custom .navbar-collapse ul.nav li a {
        border-bottom: 1px solid #252525;
    }
    .navbar-custom .navbar-collapse ul.nav li:last-child a {
        border-bottom: 0;
    }
    .phone_body a {
        font-size: 30px;
        line-height: 27px;
    }
    .phone_body a img {
        width: 25px !important;
    }
    #video-box {
        padding: 0 !important;
        margin-top: 35px;
    }
    section .parallax {
        /*background-position: left !important;*/
    }
    .my_mobile {
        display: block;
        margin-bottom: 40px;
        width: 100%;
    }
    .section-sqt {
        background: none !important;
    }
}

/* Button Style --------------------------- */
.btn {
    border-radius: 3px;
    font-size: 1em;
    padding: 5px 10px;
    transition: all 0.3s ease-in 0s;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.btn-circle:focus,
.btn-circle:hover {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
.btn {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-default {
    border: 1px solid #fff;
    color: #eb5e54;
    background-color: white;
}
.btn-work {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
}
.btn-warning {
    background-color: #eb5e54;
    border-color: #eb5e54;
    color: #fff;
}
.btn-action {
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    border: 1px solid #eb5e54;
    outline: 0;
    background-color: #eb5e54;
    color: #ffffff;
}
.btn.active,
.btn:active {
    background-image: none;
    box-shadow: none;
    outline: 0;
}

.btn:focus,
.btn.active:focus,
.btn:active:focus {
    outline: 0;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/* Welcome Section ------------- */
.welcome {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(/images/renovations_melbourne.jpg) top center no-repeat #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.welcome .welcome-body {
    display: table-cell;
    vertical-align: middle;
}
.welcome .welcome-body .brand-heading {
    font-size: 40px;
    margin-bottom: 25px;
}
.welcome .welcome-body .welcome-text {
    font-size: 18px;
}
.services_title {
    color: #b7b7b7;
    margin-bottom: 45px;
    font-weight: 700;
}
.phone_body a img {
    width: 33px;
    margin-right: 7px;
}
.phone_body a img.static {
    opacity: 1;
    position: absolute;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.phone_body a img.rollover {
    opacity: 0;
    margin-top: -8px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.phone_body a:hover img.static {
    opacity: 0;
}
.phone_body a:hover img.rollover {
    opacity: 1;
}
#about .about-section {
    padding-bottom: 60px;
    padding-top: 80px;
}
.contact-section.content-section {
    padding-top: 80px;
}
.content-section.section-portfolio {
    padding-top: 80px;
    padding-bottom: 50px;
}
.section-testimonial.content-section {
    padding-top: 80px;
    padding-bottom: 40px;
}
.features-section.content-section {
    padding-top: 80px;
    padding-bottom: 23px;
}
.features-section.content-section h4,
#contact h4 {
    font-weight: 500;
}

#testimonials .carousel-inner > .item {
    /*min-height: 133px;*/
}

@media (min-width: 992px) {
    .section-sqt .col-md-offset-5 {
        margin-left: 38.666667%;
    }
}

@media (min-width: 767px) {
    #service .content-section {
        padding-top: 110px;
        padding-bottom: 50px;
    }
    .welcome {
        height: 100%;
        padding: 0;
    }
    .welcome .welcome-body .brand-heading {
        margin: 0 auto 3px;
        font-size: 64px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
        letter-spacing: -0.5px;
    }
    .welcome .welcome-body .welcome-text {
        font-size: 18px;
        margin-bottom: 50px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
    }
}

/* About Section ------------- */
.about-section {
    width: 100%;
    color: #fff;
    background: url(/images/painters_melbourne.jpg) center center no-repeat #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#video-box {
    padding: 6px 3px;
    /*padding: 10px 10px 6px;*/
    /*background-color: #E3E3E3;    */
    /*border-radius: 4px;    */
    margin-bottom: 20px;
}

/* Call-action-section Section ------------------ */
.call-action-section {
    width: 100%;
    color: #fff;
    padding: 15px 0 8px;
    background-color: #eb5e54;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.call-action-section h4 {
    margin-bottom: 10px;
}
.call-action-section .title {
    font-family: Roboto, sans-serif;
    text-transform: none;
    font-weight: 100 !important;
    letter-spacing: -0.5px;
    font-size: 38px;
    text-shadow: none;
}
.light_grey {
    color: #a8a8a8 !important;
}
.grey {
    color: #5e5f5f !important;
}
.section-sqt h1 {
    margin-top: -5px;
    font-size: 65px;
    margin-bottom: 27px;
    letter-spacing: -3px;
}
.section-sqt p {
    font-size: 16px;
    line-height: 1.3;
}
.section-sqt {
    color: #5e5f5f;
    background: url(/images/TPD_Snap_Text_Quote_Image.jpg) no-repeat bottom left;
    background-size: 41%;
}
.section-sqt h3 {
    font-size: 58px;
    margin-bottom: 40px;
    font-weight: 300;
    margin-top: 31px;
}
.features-section .features-title {
    margin-top: 5px;
}
.section-sqt a {
    color: #888888;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.section-sqt a:hover {
    color: #eb5e54;
}
/* Features Section ------------ */
.features-section {
    width: 100%;
    color: #fff;
    background: url(/images/plasterers_melbourne.jpg) center center no-repeat
        #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.section-portfolio .title {
    margin-bottom: 35px;
}
.features-item {
    margin-bottom: 50px;
}

.features-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
    letter-spacing: -1px;
}

/* Testimonial Section --------------- */
.section-testimonial {
    width: 100%;
    background-color: #eee;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.section-testimonial .fa-quote-left {
    color: #5b5b5b;
}

.section-testimonial .carousel-control {
    background: 0;
}

.section-testimonial .carousel-indicators {
    position: inherit;
    margin: 0;
    left: auto;
    width: 100%;
    bottom: auto;
    margin-bottom: 20px;
}

.section-testimonial .carousel-indicators li {
    width: auto;
    height: auto;
    text-indent: 0;
    border: 0;
    border-radius: 60px;
    padding: 5px;
    margin: 5px !important;
    background: #fff;
    position: relative;
}

.section-testimonial .carousel-indicators li.active {
    background: #494949;
}

.section-testimonial .carousel-indicators li.active:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #494949;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -10px;
}

/* Portfolio Section ---------------- */
.section-portfolio #filters {
    list-style-type: none;
    margin: 0 0 30px;
    padding-left: 0;
}

.section-portfolio #filters li {
    display: inline-block;
    margin: 0 5px 10px;
    color: #eee;
}

.section-portfolio .portfolio-item {
    margin: 0;
    padding: 0;
}

.section-portfolio .portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio {
    padding: 0;
    max-width: 1300px;
    margin: 0 auto 15px;
    list-style: none;
}

.portfolio li {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
}
.pp_gallery,
div.pp_default .pp_nav .currentTextHolder,
div.pp_default .pp_expand {
    display: none !important;
}
div.pp_default .pp_description {
    text-transform: uppercase;
}

@media (min-width: 436px) and (max-width: 800px) {
    .portfolio li {
        width: 50%;
    }
}
.portfolio figure {
    padding: 15px;
    margin: 0;
    position: relative;
}
.portfolio figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
.portfolio figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #000;
}
.portfolio figcaption h4 {
    letter-spacing: -1px;
    margin: 0 0 10px;
    padding: 0;
    color: #eb5e54;
}
.portfolio figcaption p {
    color: #ffffff;
    line-height: 1.3;
}
.portfolio figcaption span:before {
    content: 'by ';
}
.portfolio figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #fff;
    color: #5e5f5f;
    font-weight: 400;
}
.portfolio article {
    -webkit-perspective: 1700px;
    -moz-perspective: 1700px;
    perspective: 1700px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
}
.portfolio figure {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.portfolio figure > div {
    overflow: hidden;
}
.portfolio figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}
.no-touch .portfolio figure:hover img,
.portfolio figure.cs-hover img {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}
.portfolio figcaption {
    margin: 15px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .portfolio figure:hover figcaption,
.portfolio figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}
.portfolio figcaption a {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 14px;
    padding: 4px 8px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.portfolio figcaption a:hover {
    color: #ffffff;
    background: #eb5e54;
}
.portfolio figcaption span {
    font-weight: 700;
    display: block;
    margin: 0 0 10px;
}

/* Service Section -------------------- */
#services_left .service-item {
    margin-bottom: 25px;
}
.services_title {
    text-transform: uppercase;
}
.services_title span {
    display: block;
    font-size: 35px;
}
.servicessubtitle {
    text-transform: uppercase;
    margin-bottom: 18px;
}
#services_left figure img {
    display: block;
    width: 100%;
    border-radius: 4px 4px 0 0;
}
#services_left figcaption {
    padding: 13px 22px;
    text-align: left;
    border-radius: 0 0 4px 4px;
}
#services_left figcaption h4 {
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    font-size: 20px;
}
.about-section p {
    color: #fff;
    font-weight: 300;
    line-height: 1.55;
    padding-right: 28px;
}
#services_left figcaption p {
    margin: 0;
}
#about h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 20px;
}

/* Form Validation -------------------- */
i.form-control-feedback {
    padding: 8px;
}

.has-success i.form-control-feedback {
    color: #eb5e54;
}

.has-error i.form-control-feedback {
    color: #e51d25;
}

/*.has-error .checkbox,  .has-error .checkbox-inline,  .has-error .control-label,  .has-error .help-block,  .has-error .radio,  .has-error .radio-inline,  .has-error.checkbox label,  .has-error.checkbox-inline label,  .has-error.radio label,  .has-error.radio-inline label  {    
    color:  #e51d25;    
}
*/
.contact-section form .form-control {
    background-color: #fff;
    border: 1px solid #fff;
    color: #5e5f5f;
    font-size: 15px;
}

.has-success {
    color: #eb5e54;
    font-weight: 300;
    font-style: italic;
}

.has-error {
    color: #e51d25;
    font-weight: 300;
    font-style: italic;
}

label.has-error {
    width: 100%;
    text-align: right;
}

.form-control.has-success {
    background: url(/images/icon-ok.png) no-repeat right center;
    color: #eb5e54;
    border-color: #eb5e54 !important;
}

.form-control.has-error {
    background: url(/images/icon-fail.png) no-repeat right center;
    color: #e51d25;
    border-color: #e51d25 !important;
}
form .messagebox {
    margin-top: 10px;
}

form .messagebox .bg-success {
    background-color: #2fba78;
    background-size: cover;
    color: #fff;
}

form .messagebox .bg-danger {
    background-color: #e51d25;
    background-size: cover;
    color: #fff;
}

/* Quote Form -------------------- */
#services_right_form .form-control {
    margin-bottom: 10px;
    box-shadow: none;
}

#services_right_form .form-control.has-success {
    color: #595959;
}

#services_right_form textarea.form-control {
    min-height: 105px;
}

#services_right_form h4.notice-head {
    margin-top: 30px;
}

.selectize-dropdown .active {
    background-color: #eb5e54;
}
.menu.follow a img {
    width: 50px;
}
.menu.follow a .normal {
    opacity: 1;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    position: absolute;
}
.menu.follow a:hover .normal {
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.menu.follow a .rollover {
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.menu.follow a:hover .rollover {
    opacity: 1;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.title.light_grey {
    color: #b7b7b7 !important;
}

@media (max-width: 767px) {
    .servicessubtitle,
    .notice-head {
        text-align: center;
    }
    .about-section p {
        padding-right: 0;
    }
    .services_title {
        color: #a8a8a8;
    }
    .title.light_grey {
        color: #a8a8a8 !important;
    }
}

/* Real Person Captcha Security ----------- */
.realperson-challenge {
    display: block;
    float: left;
    width: 50%;
    color: #eb5e54;
}

.quote-form .realperson-challenge {
    color: #b1b1b1;
}

.realperson-challenge: hover {
    cursor: pointer;
}

form .form-control.captcha {
    width: 50%;
}

.realperson-text {
    font-family: 'Courier New', monospace;
    font-size: 6px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 3px;
}

.realperson-regen {
    color: #ffffff;
    padding-top: 1px;
    font-size: 12px;
    cursor: pointer;
}
.contact-section .title {
    margin-bottom: 10px;
}
#contact h4 {
    margin-bottom: 20px;
}
.realperson-disabled {
    opacity: 0.5;
    filter: Alpha(Opacity=50);
}

.realperson-disabled .realperson-regen {
    cursor: default;
}

/* Social Media -------------------- */
.follow {
    margin: 3px 0 36px;
    padding-left: 0;
    text-align: left;
}
.follow li {
    display: inline-block;
    list-style: none;
    vertical-align: top;
}
.follow li + li {
    margin-left: 7px;
}
.follow li a {
    /*display: block;*/
    /*width: 44px;*/
    /*height: 44px;*/
    /*-webkit-transition: all .5s ease;*/
    /*-moz-transition: all .5s ease;*/
    /*-o-transition: all .5s ease;*/
    /*transition: all .5s ease;*/
    /*font-size: 0;*/
    /*line-height: 0;*/
    /*overflow: hidden;*/
    /*background: #fff!important;*/
    /*color: #333!important;*/
    /*text-align: center;*/
    /*-webkit-border-radius: 1000px;*/
    /*-moz-border-radius: 1000px;*/
    /*border-radius: 1000px;*/
}
.follow li a.fa {
    position: relative;
}
.follow li a.fa:before {
    font: 22px/44px FontAwesome;
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    text-align: center;
}
.follow li a:hover {
    /*background: #eb5e54 !important;*/
    /*color: #fff!important;*/
}

/* Contact Section ------------------ */
.contact-section {
    width: 100%;
    color: #fff;
    background: url(/images/plaster_repairs_melbourne.jpg) center center
        no-repeat #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* padding-left: 70px; */
    /* margin-top: -5px; */
}
.navbar-custom .navbar-brand img {
}
.navbar-custom .navbar-brand .black_logo {
    opacity: 1;
    width: 200px;
    margin-top: 5px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    position: absolute;
}
.navbar-custom .navbar-brand .white_logo {
    opacity: 0;
    width: 200px;
    margin-top: -5px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.navbar-custom.top-nav-collapse a.navbar-brand .black_logo {
    opacity: 0;
}
.navbar-custom.top-nav-collapse a.navbar-brand .white_logo {
    opacity: 1;
}
@media (max-width: 767px) {
    .contact-info {
        padding-top: 20px;
        padding-left: 0px;
    }
    .navbar-custom .navbar-brand .black_logo {
        opacity: 0;
    }
    .navbar-custom .navbar-brand .white_logo {
        opacity: 1;
        width: 200px;
    }
}
ul.address {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}

.contact-info ul li {
    margin-bottom: 8px;
}

/* Footer Section ------------------ */
footer {
    padding: 25px 0;
}

footer p {
    margin: 0;
}

/* Scroll To Top --------------------------- */
.scroll-to-top {
    background: #333;
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-align: center;
    border-radius: 4px;
    z-index: 9999;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.scroll-to-top.affix {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.scroll-to-top:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.scroll-to-top a {
    color: #fff;
    display: block;
    line-height: 40px;
    width: 40px;
    height: 40px;
}
.mobile_text {
    display: none;
}
.desktop_text {
    display: block;
}
.desktop_li {
    display: inline-block !important;
}
.mobile_li {
    display: none !important;
}
@media (max-width: 436px) {
    .about-section {
        background: url(/images/TPD_About_BG_Pic_Mobile.jpg) no-repeat #000000;
    }
    .call-action-section .title {
        font-size: 33px;
        /*font-weight: 300 !important;*/
    }
    .section-sqt {
        padding-top: 20px;
    }
    .section-sqt h3 {
        font-size: 43px;
    }
    .features-section .features-title {
        font-size: 20px;
    }
    .features-section.content-section {
        padding-top: 60px;
        padding-bottom: 10px;
    }
    .content-section.section-portfolio {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .section-testimonial.content-section {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .contact-section.content-section {
        padding-top: 60px;
    }
    #service .content-section {
        padding-top: 110px;
    }
    .features-section.content-section h4 {
        font-size: 16px;
    }
    .features-section {
        background: url(/images/TPD_Services_Pic_Mobile_Version.jpg) center
            center no-repeat #000;
    }
    blockquote {
        min-height: 325px;
    }
    .contact-section {
        background: url(/images/TPD_Contact_Pic_Mobile_Version_2.jpg) center
            center no-repeat #000;
    }
    .mobile_text {
        display: block;
    }
    .desktop_text {
        display: none;
    }
    .portfolio figure {
        padding: 0;
    }
    .desktop_li {
        display: none !important;
    }
    .mobile_li {
        display: inline-block !important;
    }
    .portfolio figcaption {
        margin: 0;
        height: 100%;
        width: 100%;
    }
    .portfolio figcaption p {
        display: none;
    }
    .about_mobile {
        margin-bottom: 25px;
        margin-top: 25px;
    }
}

#side-logo-wrapper {
    position: absolute;
    margin-top: -75px;
    right: 0;
}

@media (max-width: 768px) {
    #side-logo-wrapper {
        display: none;
    }
}
/*
     FILE ARCHIVED ON 17:34:18 Mar 04, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:33:50 Jun 10, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 189.747 (4)
  captures_list: 368.464
  RedisCDXSource: 9.728
  PetaboxLoader3.resolve: 204.568 (2)
  esindex: 0.013
  LoadShardBlock: 343.299 (3)
  exclusion.robots.policy: 0.11
  load_resource: 92.051
  CDXLines.iter: 12.491 (3)
  exclusion.robots: 0.118
*/
