/*------------------------------------------------------------------
Project:    	HandyMan
Author:     	P. Roy
URL:        	http://www.handyman.proy.info/            
Version:    	1.0
Last change:    March, 2015
-------------------------------------------------------------------*/

/* Common Style ------------------- */
body {
    width: 100%;
    height: 100%;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.5px;
}
p {
    margin: 0 0 15px;
    line-height: 1.5;
}
a {
    color: #eb5e54;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:focus,
a:hover {
    text-decoration: none;
    color: #eb5c75;
    outline: 0 !important;
}

blockquote {
    min-height: 107px;
    border-left: 5px solid #eee;
    font-size: 17.5px;
    margin: 20px 0 20px;
    padding: 10px 20px;
}
.text-shadow {
    text-shadow: 1px 1px 2px #b0b0b0;
}
::-moz-selection,
::selection {
    text-shadow: none;
    background: #2781e7;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

.content-section {
    padding-top: 80px;
}

@media (min-width: 767px) {
    .content-section {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

.common-text-color {
    color: #ea5d56;
}

.common-bg-color {
    background-color: #ea5d56;
}

.title {
    margin-bottom: 10px;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, .18);*/
    text-transform: uppercase;
    letter-spacing: -0.5px;
}

/* Parallax -------------------- */
section .parallax {
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.friction {
    font-size: 40px;
}

@media (max-width: 767px) {
    section .parallax {
        background-attachment: scroll !important;
    }
}

/* Button Style --------------------------- */
.btn {
    border-radius: 3px;
    font-size: 1em;
    padding: 5px 10px;
    transition: all 0.3s ease-in 0s;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.btn-circle:focus,
.btn-circle:hover {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
.btn {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-default {
    border: 1px solid #fff;
    color: #eb5e54;
    background-color: white;
}
.btn-work {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
}
.btn-warning {
    background-color: #eb5e54;
    border-color: #eb5e54;
    color: #fff;
}
.btn-action {
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    border: 1px solid #eb5e54;
    outline: 0;
    background-color: #eb5e54;
    color: #ffffff;
}
.btn.active,
.btn:active {
    background-image: none;
    box-shadow: none;
    outline: 0;
}

.btn:focus,
.btn.active:focus,
.btn:active:focus {
    outline: 0;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.light_grey {
    color: #a8a8a8 !important;
}
.grey {
    color: #5e5f5f !important;
}

/* Form Validation -------------------- */
i.form-control-feedback {
    padding: 8px;
}

.has-success i.form-control-feedback {
    color: #eb5e54;
}

.has-error i.form-control-feedback {
    color: #e51d25;
}

/*.has-error .checkbox,  .has-error .checkbox-inline,  .has-error .control-label,  .has-error .help-block,  .has-error .radio,  .has-error .radio-inline,  .has-error.checkbox label,  .has-error.checkbox-inline label,  .has-error.radio label,  .has-error.radio-inline label  {    
    color:  #e51d25;    
}
*/

.has-success {
    color: #eb5e54;
    font-weight: 300;
    font-style: italic;
}

.has-error {
    color: #e51d25;
    font-weight: 300;
    font-style: italic;
}

label.has-error {
    width: 100%;
    text-align: right;
}

.form-control.has-success {
    background: url(/images/icon-ok.png) no-repeat right center;
    color: #eb5e54;
    border-color: #eb5e54 !important;
}

.form-control.has-error {
    background: url(/images/icon-fail.png) no-repeat right center;
    color: #e51d25;
    border-color: #e51d25 !important;
}
form .messagebox {
    margin-top: 10px;
}

form .messagebox .bg-success {
    background-color: #2fba78;
    background-size: cover;
    color: #fff;
}

form .messagebox .bg-danger {
    background-color: #e51d25;
    background-size: cover;
    color: #fff;
}

/* Quote Form -------------------- */

.title.light_grey {
    color: #b7b7b7 !important;
}

@media (max-width: 767px) {
    .notice-head {
        text-align: center;
    }

    .title.light_grey {
        color: #a8a8a8 !important;
    }
}

/* Real Person Captcha Security ----------- */
.realperson-challenge {
    display: block;
    float: left;
    width: 50%;
    color: #eb5e54;
}

.quote-form .realperson-challenge {
    color: #b1b1b1;
}

.realperson-challenge: hover {
    cursor: pointer;
}

form .form-control.captcha {
    width: 50%;
}

.realperson-text {
    font-family: 'Courier New', monospace;
    font-size: 6px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 3px;
}

.realperson-regen {
    color: #ffffff;
    padding-top: 1px;
    font-size: 12px;
    cursor: pointer;
}

.realperson-disabled {
    opacity: 0.5;
    filter: Alpha(Opacity=50);
}

.realperson-disabled .realperson-regen {
    cursor: default;
}

.mobile_text {
    display: none;
}
.desktop_text {
    display: block;
}
.desktop_li {
    display: inline-block !important;
}
.mobile_li {
    display: none !important;
}
@media (max-width: 436px) {
    blockquote {
        min-height: 325px;
    }

    .mobile_text {
        display: block;
    }
    .desktop_text {
        display: none;
    }

    .desktop_li {
        display: none !important;
    }
    .mobile_li {
        display: inline-block !important;
    }
}

/*
     FILE ARCHIVED ON 17:34:18 Mar 04, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:33:50 Jun 10, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 189.747 (4)
  captures_list: 368.464
  RedisCDXSource: 9.728
  PetaboxLoader3.resolve: 204.568 (2)
  esindex: 0.013
  LoadShardBlock: 343.299 (3)
  exclusion.robots.policy: 0.11
  load_resource: 92.051
  CDXLines.iter: 12.491 (3)
  exclusion.robots: 0.118
*/
